 .tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 230px;
  background-color: white;
  border: 1px solid #150404;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 400;
  color: #413d3d;
  text-align: left;
  position: absolute;
  z-index: 1000;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  margin-bottom: 5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
