.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-popup {
  position: absolute;
  /* top: -125px; */
  z-index: 1000;
  left: 50%;
  background-color:white;
  border: 0px solid #150404;
  padding: 10px;
  border-radius: 5px;
  width: 230px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  height: 130px; 
  overflow-y: auto;
}


.close-icon-tooltip{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.tooltip-content {
  white-space: pre-wrap;
  font-size: 12px; 
  color: #413d3d; 
  text-align: left;
  margin-top: 19px;
}



